:root {
  --bg-color: #edf5f6fd;
  --input-bg: #efefef;
  --texto-destaque: #ffff;
  --azul-destaque: #2a7ae4;
  --bg-contato: #eaf2fd;
  font-family: "Releway", sans-serif;
}

/*---------------Normaliza - Reset-CSS---------------*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Releway", sans-serif;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}




/*---------------Padrão de projeto---------------*/
textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder);
  padding: 2%;
}

a {
  text-decoration: none;
  color: var(--azul-destaque);
  font-weight: 800;
  font-family: "Releway", sans-serif;
}

button {
  cursor: pointer;
}

